*.log
*.o
*.orig
*.rej
*.zcompdump*
*__pycache__
*packer_compiled*
*.env
node_modules
src/.config/zsh/plugins
src/.local/bin/npm/package-lock.json
src/.local/src/dwm/dwm
src/.local/src/dwmblocks/dwmblocks
src/.config/lazygit/state.yml
src/nushell/history.txt
src/result
result
src/.config/tmux/plugins
