let mapleader = " "

map <leader>e :action ActivateProjectToolWindow<CR>

nmap Q :q<CR>
nmap Z :wqa<CR>

nmap <leader>ff :action Find<CR>
nmap <leader>fw :action FindInPath<CR>
nmap <leader>fo :action RecentFiles<CR>
nmap <leader>fm :action ReformatCode<CR>
nmap <leader>rn :action RenameElement<CR>
